<div class="wrapper">
    <div class="articles_header">
        <h1>Speeches history</h1>
    </div>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let speech of speeches">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{speech.username}}
                </mat-panel-title>
                <mat-panel-description>
                    <p>{{speech.text}}</p>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Sheach type is {{speech.selectedSpeechType}} and results are {{speech.speechResult}}</p>
        </mat-expansion-panel>
    </mat-accordion>
    <button mat-button matStepperPrevious>Back</button>
</div>
