<div class="wrapper">
    <div class="articles_header">
        <h1>Speeches history</h1>
    </div>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let speech of speechesHistory">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{speech.Date}}
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Percent Of Speech Type Accordance is {{speech.PercentOfSpeechTypeAccordance}}</p>
            <p>Percent Of Words Parasites is {{speech.PercentOfWordsParasites}}</p>
            <p>Words Parasites is {{speech.WordsParasites}}</p>
            <p>Percent Of Words Repetitions is {{speech.PercentOfWordsRepetitions}}</p>
            <p>Words Repetitions is {{speech.WordsRepetitions}}</p>
            <p>Percent Of Speech Place Accordance is {{speech.PercentOfSpeechPlaceAccordance}}</p>
            <p>Speed Spech Accordance is {{speech.SpeedSpechAccordance}}</p>
            <p>Audibility Accordance is{{speech.AudibilityAccordance}}</p>
            <p>Percent Of Facial Expression Accordance is {{speech.PercentOfFacialExpressionAccordance}}</p>
            <p>Percent Of Gestures Accordance is {{speech.PercentOfGesturesAccordance}}</p>
            <p>Percent Of Articulation Accordance is {{speech.PercentOfArticulationAccordance}</p>
            <p>Percent Of FormA ccordance is {{speech.PercentOfFormAccordance}}</p>
        </mat-expansion-panel>
    </mat-accordion>
    <button mat-button matStepperPrevious>Back</button>
</div>
