<div class="wrapper">
    <h1>Check analyse of your speech: </h1>
    <mat-card>
        <p>Percent Of Speech Type Accordance is {{analyse.PercentOfSpeechTypeAccordance}}</p>
        <p>Percent Of Words Parasites is {{analyse.PercentOfWordsParasites}}</p>
        <p>Words Parasites is {{analyse.WordsParasites}}</p>
        <p>Percent Of Words Repetitions is {{analyse.PercentOfWordsRepetitions}}</p>
        <p>Words Repetitions is {{analyse.WordsRepetitions}}</p>
        <p>Percent Of Speech Place Accordance is {{analyse.PercentOfSpeechPlaceAccordance}}</p>
        <p>Speed Spech Accordance is {{analyse.SpeedSpechAccordance}}</p>
        <p>Audibility Accordance is{{analyse.AudibilityAccordance}}</p>
        <p>Percent Of Facial Expression Accordance is {{analyse.PercentOfFacialExpressionAccordance}}</p>
        <p>Percent Of Gestures Accordance is {{analyse.PercentOfGesturesAccordance}}</p>
        <p>Percent Of Articulation Accordance is {{analyse.PercentOfArticulationAccordance}</p>
        <p>Percent Of FormA ccordance is {{analyse.PercentOfFormAccordance}}</p>
        <p>Tips is {{analyse.Tips}}</p>
        <p>Articles is {{analyse.Articles}}</p>
        <p><button mat-raised-button matStepperNext color="primary" matStepperPrevious (click)="addSpeechInHistory()"></button></p>
    </mat-card>
</div>