.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    height: 100%;
}
