.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    min-height: 900px;
    margin-top: 30px;
}

.speech_header {
  text-align: center;
}

.record_player {
  margin-top: 30px;
}

.recording_word {
  display: inline;
}

.spinner {
  width: 60px;
  height: 60px;
}

.submit_speech {
  margin-top: 30px;
}