
.demo-tab-group {
  border: 1px solid #e8e8e8;
}

.demo-tab-content {
  padding: 16px;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
.article_img {
  height: 50px;
}
.slider,
.header {
  margin: 0 auto;
  width: 60%;
  font-family: "Roboto";
}

.header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  margin-top: 20;
}
.articles_header {
    text-align: center
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
